nav{
    height: 50px;
    /* border: 1px solid #dfdfdf; */
}

.div-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-png{
    height: 50px;
    width: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.button-header{
    color: black;
    border: #00dbd0;
    font-size: 100%;
    padding: 2.5rem;
    border-radius: 10px;
    margin:'20px'
}
