.parent{
    position: relative;
    left: 0;
    top: 0;
}
.ali{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.text{
    font-size: 200%;
    text-align: left;
    margin-top: 200px;
    margin-left: 200px;
    padding: auto;
}
.flow{
    width: 25%;
    position:absolute;
    left: 0;
    top: 0;
    background-image: url('../assets/Group228.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 100%;
    background-position-y: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.back{
    border: teal;
    width: 25%;
    position: relative;
    left: 0;
    top: 0;
}
h3{
    margin-bottom: 1px;
}
h2{
    margin-top: 1px;
}
.btn{
    color: white;
    background:#00dbd0;
    border:none;
    font-size: 100%;
    padding: 1.0rem;
    border-radius: 10px;
}
.img{
    height: 563pt;
    width: 600pt;
    margin-top: 200px;
    margin-right: 200px;
}