.leaf{
    background-image: url('../assets/Group134.png');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: 100px;
    background-position-x: left;
}
.btn{
    color: white;
    background:#00dbd0;
    border:none;
    font-size: 100%;
    padding: 1.0rem;
    border-radius: 20px;
}
.inp{
    border: none;
    padding: 1.0rem;

}